@charset "UTF-8";
@font-face {
  font-family: f1;
  src: url(./public/fonts/rP2Yp2ywxg089UriI5-g4vlH9VoD8Cmcqbu0-K6z9mXg.woff2);
}
@font-face {
  font-family: f2;
  src: url(./public/fonts/UcC73FwrK3iLTeHuS_nVMrMxCp50SjIa1ZL7W0Q5nw.woff2);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  font-size: clamp(14px, 1vw, 18px);
  font-family: f1;
}

body {
  background-color: black;
  color: white;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main #view-1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;
}
main #view-1 nav {
  position: relative;
  z-index: 99;
  width: 100%;
  max-width: 60rem;
  padding: 2.4rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main #view-1 nav #upper-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main #view-1 nav #upper-section #nav-left {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
main #view-1 nav #upper-section #nav-left > h1 {
  font-weight: 300;
  font-size: 1.8rem;
}
main #view-1 nav #upper-section #nav-right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}
main #view-1 nav #upper-section #nav-right > button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  padding: 10px 20px;
  color: white;
}
main #view-1 nav #upper-section #nav-right > button > i {
  font-size: 1.1rem;
  opacity: 0.8;
}
main #view-1 nav #upper-section #nav-right > button > span {
  font-size: 1rem;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.534);
}
main #view-1 nav #upper-section #nav-right > div {
  display: none;
  gap: 2rem;
  align-items: center;
}
main #view-1 nav #upper-section #nav-right > div > button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 40px;
  padding: 10px 20px;
  color: white;
}
main #view-1 nav #lower-section {
  width: 100%;
}
main #view-1 nav #lower-section #line {
  margin: auto;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.5), transparent);
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
}
main #view-1 #hero-heading {
  position: relative;
  z-index: 99;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
main #view-1 #hero-heading > h1 {
  font-size: 7.3rem;
  font-weight: 500;
  text-align: center;
  line-height: 1;
  background: url("./public/From KlickPin CF Dance v20 __ Graphic Poster + Motion в 2025 г _ Баннер Графический дизайн Живописные фотографии.gif");
  -webkit-background-clip: text;
          background-clip: text;
  background-size: cover;
  background-position: center;
  color: transparent;
}
main #view-1 #hero-heading > p {
  font-size: 1.2rem;
  text-align: center;
}
main #view-1 #hero-heading > button {
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.575);
  padding: 11px 16px;
  border-radius: 40px;
  color: white;
  opacity: 0.8;
}
main #view-1 video {
  width: 100%;
  -o-object-position: center;
     object-position: center;
  position: absolute;
  z-index: 9;
  top: 120%;
  left: 0;
  transform: scale(3);
}

@media (min-width: 1024px) {
  main #view-1 nav {
    max-width: 70%;
    padding: 1.5rem;
    gap: 1rem;
  }
  main #view-1 nav #upper-section #nav-left > h1 {
    font-size: 1.3rem;
  }
  main #view-1 nav #upper-section #nav-right > button {
    display: none;
  }
  main #view-1 nav #upper-section #nav-right > div {
    display: flex;
  }
  main #view-1 nav #upper-section #nav-right > div > button {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    padding: 15px 20px;
    color: white;
    font-size: 0.88rem;
  }
  main #view-1 #hero-heading > h1 {
    font-size: 10rem;
    font-weight: 500;
  }
  main #view-1 #hero-heading > p {
    font-size: 1rem;
  }
  main #view-1 #hero-heading > button {
    font-size: 0.9rem;
    padding: 14px 19px;
    background: rgba(255, 255, 255, 0.226);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
  }
  main #view-1 > video {
    transform: scale(1);
    top: 40%;
  }
}/*# sourceMappingURL=style.css.map */